<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <link rel=”stylesheet” href="/challenge14/public/style.css">
    <title>Dev Blog by Annie</title>
</head>
<body>
{{{body}}}
</body>
</html>